@import url("bootstrap.min.css");
@import url("bootstrap-theme.min.css");
@import url("nody.css");
@import url("application-ui.css");
@import 'nody-kit';

/* init var */
$local-header-top-height:40px;
$local-side-left-width:200px;

/* 기본 */
html, body {
    width:100%;
    height:100%;
    max-height:100%;
    min-width:960px;
	position:relative;
    overflow:hidden;
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    background:#f0f3f5;
    overflow-y:auto;
}
/*application*/
#master-header{
	position:relative;
	width:100%;
    background:#34383c;
    color:#eee;
    height:40px;
    max-height:40px;
    line-height:40px;
	
	.header-heading-title,
	.header-heading-commands{
		div { @include inline-block; }
	}
	.header-heading-title{
		position:relative;
		div{
			text-align:center;
			&.folder{
			    background:#1c1e21;
			    width:40px;
			    height:$local-header-top-height;
			}
			&.brand{
			    background:#282b2e;
			    width: ($local-side-left-width - 40);
			    height:$local-header-top-height;
			}
			&.location {
				@include ellipsis;
				position:absolute;
				left: ($local-side-left-width + 20);
				height:$local-header-top-height;
				line-height:$local-header-top-height;
			}
		}
	} 
	.header-heading-commands {
		.logout {
			padding : {
				left  : 5px;
				right : 20px;
			};
		}
	}
	
}
main {
	/* 1column layout */
	section.local-contents{
		padding:15px;
	}
	
	/* 2column layout */
	section.local-side {
		position:absolute;
		top:0;
		left:0;
		width:$local-side-left-width;
		height:100%;
		margin-right:-100%;
		z-index:1;
	}
	section.local-side-contents{
		position:relative;
		padding-top:20px;
		padding-left:($local-side-left-width + 20px);
		padding-right:20px;
	}
	
	#gnb {
		top:40px;
		left:0px;
	    position:absolute;
	    height:100%;
	    z-index:1;
	    background:#e9ebec;
	    vertical-align:top;
	    width:200px;
		
		menu {
		    width:200px;
		    border:1px solid #c8ccd0;
		    border-top:none;
		}
		
		li {
		    position:relative;
		    color:#7c848d;
		    max-height:40px;
			
			div {
			    display:inline-block;
			    zoom:1;
			    *display:inline;
			}
			
			div.icon {
			    width:38px;
			    height:40px;
			    line-height:40px;
			    text-align:center;
			    border-top:1px solid #c8ccd0;

				span {
					font-size:15px;
				}
			}
			
			&:hover div.icon{
				background:#f0f6fa;
			}
			
			div.text {
			    position:absolute;
			    top:0px;
			    left:38px;
			    width:160px; 
				
				dl {
					position:relative;
				    border-top:none;
					
					dt,dd{
					    width:160px;
					    padding-left:10px;
					    background:#f4f5f7;
					    height:40px;
					    border-top:1px solid #c8ccd0;
					    line-height:40px;
					}
					
					dt {
					    background:#f0f6fa;
					    position:absolute;
					    border-left:1px solid #c8ccd0;
					    top:0px;
					    left:0px;
					}
					
					dd {
						border-right:1px solid #c8ccd0;
						position:relative;
						top:0px;
						left:161px;
						display:none;
						
						span {
						    float:right;
						    margin-top:12px;
						    margin-right:5px;
						    color:#ccc;
						}
						
					}
					
					dd:hover{
						background:#fcfcfc;
						
						span {
							color:#999;
						}
					}
					
					dd:last-child{
						border-bottom:1px solid #c8ccd0;
					}
				}
			}
			
			&:hover {
				div.text dl dd {
					display:block;
				}
			}
		}/*li*/
	}/*#gnb*/
}
@media only screen and (max-device-width: 480px){
	main {
		padding-left:40px;
		z-index:3;
	}
	#gnb{
		width:100%;
		background:
		white;
		display:none;
		z-index:4;
		
		menu {
			width:100%
		}
		
		li {
			max-height:none;margin-bottom:0px;padding-bottom:0px;
			
			div.icon { position:absolute;top:0px;left:0px; }
			div.text { 
				position:relative; 
				width:100%;
				
				dl {
					width:100%;
					dt,dd {
						display:block;
						position:relative;
						left:0px;
						top:0px;
						float:left;
						width:100%;
					}
					dd {
						border-left:1px solid #c8ccd0;
					}
				}
			}
			
		}
	}
}

.servey-form-contents .panel-title{
	line-height:22px;
}
.servey-form-contents .servey-text-group{
	border-bottom:1px solid #eee;
}
.servey-form-contents .servey-text-group:first-child{
	border-top:1px solid #eee;
}
.servey-form-contents .servey-text-group .layout-left{
	width:80%;
	padding-top:10px;
	padding-bottom:10px;
}
.servey-form-contents .servey-text-group .layout-right{
	padding-top:6px;
}

#page-admin-main .main-section{
	border:1px solid #eee;
	padding:10px;
}
#page-admin-main .main-section h4{
	padding-top:5px;
	padding-bottom:0px;
}
