<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.may5.dao.CustomerMapper">
   
   <!-- 고객페이지 -->
   	<!-- 가입자 수 -->
	<select id="getAllCustomerCount" resultType="int">
		select count(*) from customer
	</select>
	
	<!-- 주소 검색 -->
	<select id="firstSearchZip" resultType="Zip">
		select distinct sido, sigungu from Zip order by sido desc
	</select>
	<select id="secondSearchZip">
		
	</select>
	<select id="thirdSearchZip">
		
	</select>
	
	<!-- ID 중복검사 -->
	<select id="redundancyCheckId" parameterType="string" resultType="Customer">
		select cstId, levelCode from Customer where cstId=#{cstId} and levelCode!='D'
	</select>
	
	
	<!-- 회원가입 -->
	<insert id="insertJoinCst" parameterType="Customer">
		insert into Customer(cstId, cstName, cstPassword, zipCode, cstDetailAddress, cstCP, cstEmail,
        cstGender, cstBirthday, cstEmailAgreement, cstQnAPermission, cstEvaluationPermission, cstJoinDate,
        cstLastVisitDate, cstPostCount, levelCode, cstCode)
         values(#{cstId}, #{cstName}, #{cstPassword}, 'GG000001', #{cstDetailAddress}, #{cstCP}, #{cstEmail},
          #{cstGender}, #{cstBirthday}, #{cstEmailAgreement}, 'T', 'T', sysdate, sysdate, 0, 'N', CST.nextval)
	</insert>
	
	<!-- 로그인 -->
	<select id="loginCst" resultType="Customer">
		select * from Customer where cstId=#{cstId} and cstPassword=#{cstPassword} and levelCode!='D'	
	</select>


	<!-- 회원탈퇴 -->
	<update id="deleteMemberInfo" parameterType="Customer">
		update Customer set levelCode='D', cstPassword='', zipCode='NN000000', 
		cstDetailAddress='', cstCP='', cstEmail='', cstBirthday='' where cstCode=#{cstCode}
	</update>
	
	
  <!-- 관리자페이지 -->
	<!-- 전체고객 정보 조회 -->
	<select id="selectAllCstInfo" resultType="Customer">
		select A.cntr, B.* from Customer B,(select count(*) cntr from Customer where levelCode!='D') A
	</select>
	
	<!-- 관심고객 정보 조회 -->
	<select id="selectBlackCstInfo" resultType="Customer">
		select * from Customer where levelCode='B'
	</select>
	
	<!-- VIP고객 정보 조회 -->
	<select id="selectVIPCstInfo" resultType="Customer">
		select * from Customer where levelCode='V'
	</select>
	
</mapper>
