<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.may5.dao.ItemMapper">


	<select id="getAnItem" resultType="Item">
		select * from item where
		itemId=#{itemId}
	</select>

	<select id="getItemCount" resultType="int">
		select count(*) from item
	</select>

	<select id="getItemList" resultType="Item">
		select * from item
	</select>

	<!-- <select id="getEvaluationList" parameterType="hashmap" resultType="Evaluation"> 
		select * from evaluation where evaluationIndex between #{startrow} and #{endrow} 
		</select> -->

	<select id="getEvaluationList" resultType="Evaluation">
		select * from
		evaluation where itemId=#{itemId}
	</select>

	

	<select id="getListCount" resultType="int">
		select count(*) from
		evaluation
	</select>
</mapper>