@CHARSET "UTF-8";
.row_group { 
    padding: 10px;
    border: 2px solid pink;
    margin: 0px; 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: pink;}
    
.row_group div{width: 100%;}
.row_text {width: 90%;}