.od { 
    padding: 10px;
    border: 1px solid BurlyWood;
    margin: 0px; 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: BlanchedAlmond;}
    
.od div{width: 100%;}
.row_text {width: 90%;}

span.name {
	width: auto;
	border: 1px red;
	margin: 0px;
	background-color: blue;
}